# Getting the zipcoodes for every county

In [24]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
import time

In [25]:
# url = 'https://www.fema.gov/api/open/v1/HousingAssistanceOwners'
# headers = {'User-agent': 'UserB 1.27'}
# api = requests.get(url, headers=headers)
# api.status_code

In [26]:
good_zipcode = pd.read_csv('./datasets/_Fema_Data.csv')
fema= pd.read_csv('./datasets/Disasters By Zip Code')

In [27]:
good_zipcode.shape

(90579, 5)

In [28]:
fema.shape

(11162, 4)

In [29]:
good_zipcode.head()

   Unnamed: 0 state           county          city zipCode
0           0    MI  Macomb (County)   CLINTON TWP   48036
1           1    MI  Macomb (County)           RAY   48096
2           2    MI  Macomb (County)   CLINTON TWP   48038
3           3    MI  Macomb (County)      RICHMOND   48062
4           4    MI  Macomb (County)  STERLING HTS   48310

In [30]:
good_zipcode.rename(columns={"state": "State"}, inplace=True)
good_zipcode.rename(columns={"zipCode": "Zip Code"}, inplace=True)

In [31]:
good_zipcode.drop(['city', 'county','Unnamed: 0'], axis=1, inplace=True)

In [32]:
good_zipcode.head()

  State Zip Code
0    MI    48036
1    MI    48096
2    MI    48038
3    MI    48062
4    MI    48310

In [33]:
good_zipcode.shape

(90579, 2)

In [34]:
fema.head()

   Zip Code State    Incident Type  Year
0     99081    AL          Tornado  2019
1     99009    WA  Severe Storm(s)  2018
2     99027    WA  Severe Storm(s)  2018
3     99029    WA  Severe Storm(s)  2018
4     99031    WA  Severe Storm(s)  2018

In [35]:
fema.drop('Zip Code', axis=1, inplace=True)

In [36]:
fema.head()

  State    Incident Type  Year
0    AL          Tornado  2019
1    WA  Severe Storm(s)  2018
2    WA  Severe Storm(s)  2018
3    WA  Severe Storm(s)  2018
4    WA  Severe Storm(s)  2018

# Merge

In [37]:
final_dataset = pd.merge(fema, good_zipcode, on='State')

In [38]:
final_dataset.shape

(30189460, 4)

In [39]:
final_dataset.head()

  State Incident Type  Year Zip Code
0    AL       Tornado  2019    36551
1    AL       Tornado  2019    36146
2    AL       Tornado  2019    35005
3    AL       Tornado  2019    35243
4    AL       Tornado  2019    36852

In [40]:
final_dataset.tail()

         State    Incident Type  Year Zip Code
30189455    IL  Severe Storm(s)  2010    62902
30189456    IL  Severe Storm(s)  2010    62935
30189457    IL  Severe Storm(s)  2010    62924
30189458    IL  Severe Storm(s)  2010    62890
30189459    IL  Severe Storm(s)  2010    62949

# Missing values

In [41]:
final_dataset.isnull().sum()

State               0
Incident Type       0
Year                0
Zip Code         2467
dtype: int64

In [42]:
final_dataset.dropna(inplace=True);

In [43]:
final_dataset.shape

(30186993, 4)

# Duplicate removal

In [44]:
final_dataset= final_dataset.drop_duplicates(keep='first')

In [45]:
final_dataset.shape

(223431, 4)

# Exporting dataset

In [47]:
final_dataset.to_csv('fema_zip_dataset.csv')